@import "./node_modules/bootstrap/scss/bootstrap";

#rowJoke {
    background-image: url('https://thumbs.dreamstime.com/b/un-grupo-de-gente-diversa-sonriendo-y-riendo-juntos-comedia-broma-ai-generativo-271227169.jpg');
}

.btn1{
    border:none;
    background-color: white;
    font-size: 25px;
}

.btn2{
    border:none;
    background-color: white;
    font-size: 25px;
}

.btn3{
    border:none;
    background-color: white;
    font-size: 25px;
}

#weatherRow{
    background-color: rgba(28, 193, 223, 0.466);
}


